 
 
 .navbar {
     overflow: hidden;
     background-color: transparent;
     font-family: Garamond;
     margin-bottom: 3rem;
   
 }

 
 .navbar a {
     float: left;
     font-size: 16px;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 
 .dropdown {
     float: left;
     overflow: hidden;
     margin-left: 20px;
     padding-top:2rem
 }

 
 .dropdown .dropbtn {
     font-size: 16px;
     outline: none;
     
     color:black;
     padding: 14px 16px;
     background-color: rgba(255,255,255,0.3);
     border-radius: 1.2rem;
     box-shadow: 0 0px 0px rgba(0,0,0,0.1) ;
     backdrop-filter: blur(5px);
     border: 1px solid rgba(255,255,255,0.3);
     margin-left: 10px;
     font-family: inherit;
     margin: 0;
     
 }

 
 .navbar a:hover,
 .dropdown:hover .dropbtn {
     background-color: gray;
 }

 
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     background-color: rgba(255,255,255,0.2);
     border-radius: 1.2rem;
     box-shadow: 0 4px 30px rgba(0,0,0,0.1) ;
     backdrop-filter: blur(5px);
     border: 1px solid rgba(255,255,255,0.3);
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 
 .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

 
 .dropdown-content a:hover {
     background-color: #ddd;
 }

 
 .dropdown:hover .dropdown-content {
     display: block;
 }

 #logo{
    color:rgb(101, 165, 228);
    margin-left:50px;
    margin-top: 12.5px;
    padding-right:50px;
    font-weight:800;
    transform: scale(1.75);
    font-family: 'Courier New', Courier, monospace;
 }

 .connect{
    margin-top: 5px;
    margin-left:40px;
    padding:10px;
    background-color:khaki;
    border:none;
    border-radius:10px;
    font-size:16px;
    font-weight:400;

 }

 .connect:hover {
    background-color: red;
 }



